.footer {
  background: #0a0a0a;
  color: #ccc;
  padding: 50px 70px;
  font-family: "Segoe UI", sans-serif;
}

/* TOP */
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.ihcl {
  color: white;
  font-size: 34px;
}

.subscribe-text {
  font-size: 12px;
  margin: 10px 0;
}

.subscribe-box {
  display: flex;
  margin-bottom: 20px;
}

.subscribe-box input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #555;
  padding: 10px;
  color: white;
  width: 220px;
}

.subscribe-box button {
  background: #b08d57;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  color: white;
  cursor: pointer;
}

.footer-links h3 {
  color: white;
}

.footer-links li {
  margin: 6px 0;
  cursor: pointer;
}

.footer-links li:hover {
  color: #b08d57;
}

/* SOCIAL */
.icons {
  display: flex;
  gap: 12px;
  font-size: 18px;
}

.icons svg:hover {
  color: #b08d57;
  transform: scale(1.2);
}

/* DIVIDER */
.divider {
  height: 1px;
  background: #333;
  margin: 30px 0;
}

/* DESTINATIONS */
.destinations {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  padding: 10px 0;
  cursor: pointer;
}

.plus {
  transition: 0.3s;
}

.rotate {
  transform: rotate(45deg);
}

.dropdown {
  padding: 10px 0;
}

.dropdown p:hover {
  color: #b08d57;
}

/* BRANDS */
.brands-title {
  margin: 20px 0;
  color: white;
}

.brands {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

.brands img {
  height: 55px;   /* increased from 28px */
  width: auto;
  object-fit: contain;
  opacity: 0.8;
  transition: 0.3s ease;
}

.brands img:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* FOOTER NAV */
.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  font-size: 12px;
  margin-top: 15px;
}

.footer-nav span:hover {
  color: #b08d57;
}

.copyright {
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
}